<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Cuatrecasas</title>

        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Our Custom CSS -->
        <link rel="stylesheet" href="../static/css/style.css">
        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

      <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      
      <!-- <link rel='stylesheet' href='../static/css/unite-gallery.css' type='text/css' />
      <script src="../static/js/unitegallery.js"></script>
      <script src="../static/js/unitegallery.min.js"></script>
      <script src="../static/js/ug-theme-tiles.js"></script> -->

      <!-- Magnific Popup core CSS file -->
<link rel="stylesheet" href="../static/css/magnific-popup.css">



      
  
        
    </head>
    <body>
        <div class="content-holder">
            <div class="header">
                <div class="top-left">
                    <p><strong>Hola,Alberta</strong> </p>
                </div>
                <div class="top-right">
                    <ul class="inner" id="top_right_active">
                        <li class=" active right_border"><a href="#">ES</a></li>
                        <li class="right_border"><a href="#">EN</a></li>
                        <li class="last_li"><a href="#">PT</a></li>
                        <li class="settings_icon">
                            <ul class="dropdown show">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="../static/img/setting_icon.png">
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li class="border_bottom"><a class="dropdown-item" href=""><span><img src="../static/img/settings-gears.png"></span>Configuracion</a></li>
                                    <li class="border_bottom"><a class="dropdown-item" href=""><span><img src="../static/img/info_icon.png"></span>Enviar surgerencias | Ayuda</a></li>
                                    <li><a class="dropdown-item" href=""><span><img src="../static/img/logout.png"></span>salir</a></li>
                                </ul>
                                
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="clear_both"></div>
                <div class="banner_img">
                    <img src="../static/img/banner.png">
                    <div class="banner_logo">
                        <img src="../static/img/banner_logo.png">
                    </div>
                </div>
                <div class="menu_bar navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar_inner">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>                        
                        </button>
                        <p class="menu">Menu</p>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar_inner">
                        <ul class="inner" id="navbar_inner">
                            <li class="active"><a href="#"><strong>ACTIVIDADES</strong></a></li>
                            <li class="dropdown show wellnessjob"><a class="dropdown-toggle" href="#"role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong>WELLNESSJOB</strong></a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a href="#"><strong>GYM BCN</strong></a></li>
                                    <li><a href="#"><strong>GYM PASS</strong></a></li>
                                </ul>
                            </li>

                            <li><a href="#"><strong>SALUD Y BIENESTAR</strong></a></li>
                            <li><a href="#"><strong>GALERIA</strong></a></li>
                        </ul>
                    </div>
                </div>
                <div class="clear_both"></div>

            </div> <!-- header -->
            <div class="first_layer">
             <!--  <form>
               <input class="red" type="text" name="" placeholder="2018"><span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
               <div class="right">
                  <label>Año</label><input class="" type="text" name="" placeholder="2018"><span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                  <label>de</label><input class="" type="text" name="" placeholder="Enero"><span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                   <label>a</label><input class="" type="text" name="" placeholder="Marzo"><span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                </div>
              </form> -->
                
                <select class="select-style">
                <option value="2018">2018</option>
                <option value="2017">2018</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                </select>
                <div class="right">
                      <label>Ano</label>
                      <select class="select-style">
                          <option value="2018">2018</option>
                          <option value="2017">2018</option>
                          <option value="2016">2016</option>
                          <option value="2015">2015</option>
                      </select>
                      <label>De</label>
                      <select class="select-style"><label>vvfdgd</label>
                          <option value="2018">Enero</option>
                      </select>
                      <label>a</label>
                      <select class="select-style">
                          <option value="2018">Marzo</option>
                      </select>
                      <button type="button" class="btn btn-default">
                            <span><img src="../static/img/magnifier.png"></span>
                      </button>
                  </div> <!-- right -->
                  
                  <div class="clear_both"></div>
                </div>
             <div class="clear_both"></div>
             <!-- <div id="gallery">

                  <a href="http://unitegallery.net">
                  <img alt="Lemon Slice"
                       src="../static/img/img_1.png"
                       data-image="../static/img/zoom_1.png"
                       data-description="This is a Lemon Slice"
                       style="">
                  </a>

                  <a href="http://unitegallery.net">
                  <img alt="Peppers"
                       src="../static/img/img_2.png"
                       data-image="../static/img/zoom_1.png"
                       data-description="Those are peppers"
                       style="">
                  </a>

                  <a href="http://unitegallery.net">
                  <img alt="Keys"
                       src="../static/img/img_3.png"
                       data-image="../static/img/zoom_1.png"
                       data-description="Those are keys"
                       style="">
                  </a>

                  <a href="http://unitegallery.net">
                  <img alt="Friuts in cup"
                       src="../static/img/img_4.png"
                       data-image="../static/img/img_4.png"
                       data-description="Those are friuts in a cup"
                       style="">
                  </a>

                  <a href="http://unitegallery.net">
                  <img alt="Yellow Flowers"
                       src="../static/img/img_5.png"
                       data-image="../static/img/img_5.png"
                       data-description="Those are yellow flowers"
                       style="">
                  </a>

                  <a href="http://unitegallery.net">
                  <img alt="Butterfly"
                       src="../static/img/img_6.png"
                       data-image="../static/img/img_6.png"
                       data-description="This is butterfly"
                       style="">
                  </a>
                   
                </div> -->
                <div class="popup-gallery">
  <a href="http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg" title="The Cleaner"><img src="http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_s.jpg" width="75" height="75"></a>
  <a href="http://farm9.staticflickr.com/8382/8558295631_0f56c1284f_b.jpg" title="Winter Dance"><img src="http://farm9.staticflickr.com/8382/8558295631_0f56c1284f_s.jpg" width="75" height="75"></a>
  <a href="http://farm9.staticflickr.com/8225/8558295635_b1c5ce2794_b.jpg" title="The Uninvited Guest"><img src="http://farm9.staticflickr.com/8225/8558295635_b1c5ce2794_s.jpg" width="75" height="75"></a>
  <a href="http://farm9.staticflickr.com/8383/8563475581_df05e9906d_b.jpg" title="Oh no, not again!"><img src="http://farm9.staticflickr.com/8383/8563475581_df05e9906d_s.jpg" width="75" height="75"></a>
  <a href="http://farm9.staticflickr.com/8235/8559402846_8b7f82e05d_b.jpg" title="Swan Lake"><img src="http://farm9.staticflickr.com/8235/8559402846_8b7f82e05d_s.jpg" width="75" height="75"></a>
  <a href="http://farm9.staticflickr.com/8235/8558295467_e89e95e05a_b.jpg" title="The Shake"><img src="http://farm9.staticflickr.com/8235/8558295467_e89e95e05a_s.jpg" width="75" height="75"></a>
  <a href="http://farm9.staticflickr.com/8378/8559402848_9fcd90d20b_b.jpg" title="Who's that, mommy?"><img src="http://farm9.staticflickr.com/8378/8559402848_9fcd90d20b_s.jpg" width="75" height="75"></a>
</div>
            <!-- <div class="galeria">
                <div class="gallery">
                    <a target="_blank" href="../static/img/post_one.png">
                    <img src="../static/img/img_1.png" alt="post_one">
                    </a>
                    <div class="desc">
                         <p>Lorem ipsum dolor sit amet, dolore<br>12/4/2018</p>
                    </div>
                </div>
                 <div class="gallery">
                    <a target="_blank" href="../static/img/post_two.png">
                    <img src="../static/img/img_2.png" alt="post_one">
                    </a>
                    <div class="desc">
                         <p>Lorem ipsum dolor sit amet, dolore<br>12/4/2018</p>
                      </div>
                </div>
                 <div class="gallery">
                    <a target="_blank" href="../static/img/post_three.png">
                    <img src="../static/img/img_3.png" alt="post_one">
                    </a>
                    <div class="desc">
                         <p>Lorem ipsum dolor sit amet, dolore<br>12/4/2018</p>
                      </div>
                </div>
                 <div class="gallery">
                    <a target="_blank" href="../static/img/post_four.png">
                    <img src="../static/img/img_4.png" alt="post_one">
                    </a>
                   <div class="desc">
                         <p>Lorem ipsum dolor sit amet, dolore<br>12/4/2018</p>
                   </div>
                </div>
                 <div class="gallery">
                    <a target="_blank" href="../static/img/post_five.png">
                    <img src="../static/img/img_5.png" alt="post_one">
                    </a>
                   <div class="desc">
                         <p>Lorem ipsum dolor sit amet, dolore<br>12/4/2018</p>
                   </div>
                </div>
                 <div class="gallery">
                    <a target="_blank" href="../static/img/post_six.png">
                    <img src="../static/img/img_6.png" alt="post_one">
                    </a>
                    <div class="desc">
                         <p>Lorem ipsum dolor sit amet, dolore<br>12/4/2018</p>
                   </div>
                </div>
            </div> <!-- galeria -->
            <div class="clear_both"></div> 
        </div> <!-- content-holder -->
        <div class="footer">
            <div class="content-holder">
                <ul class="footer_left">
                    <li><img class="footer_left_img" src="../static/img/footer_logo.png"></li>
                    <li><a href="#" class="footer_copyright_web">Copyright Cuatrecasas Sports Club | Todos los derechos reservados</a></li>
                </ul>
                <ul class="footer_right">
                    <li><a class="social_icon" href ="#"><i class="fa fa-pinterest fa-1x" aria-hidden="true"></i></a></li>
                    <li><a class="social_icon" href ="#"><i class="fa fa-facebook fa-1x" aria-hidden="true"></i></a></li>      
                    <li><a class="social_icon" href ="#"><i class="fa fa-twitter fa-1x" aria-hidden="true"></i></a></li>
                    <li><a class="social_icon" href ="#"><i class="fa fa-instagram fa-1x" aria-hidden="true"></i></a></li>
                    <li><a class="social_icon" href ="#"><i class="fa fa-youtube fa-1x" aria-hidden="true"></i></a></li>
                    <li><a class="social_icon" href ="#"><i class="fa fa-google-plus fa-1x" aria-hidden="true"></i></a></li>
                </ul>
                    <div class="clear_both"></div>
                     <ul class="footer_copyright_outer">
                        <li><a href="#" class="footer_copyright">Copyright Cuatrecasas Sports Club | Todos los derechos reservados</a></li>
                     </ul>
                    <div class="clear_both"></div>
            </div>
        </div>
        <img  class="zoom" src="../static/img/zoom-in.png">
        <script type='text/javascript' src='../static/js/jquery-11.0.min.js'></script> 
          <script type='text/javascript' src='../static/js/unitegallery.min.js'></script>   
          <script type='text/javascript' src='../static/js/ug-theme-tiles.js'></script>
        <script type="text/javascript">
         $(document).ready(function () {

             $("#top_right_active").on('click', 'li', function () {
                $("#top_right_active li.active").removeClass("active");
                // adding classname 'active' to current click li 
                $(this).addClass("active");
                });
             $("#navbar_inner").on('click', 'li', function () {
                $("#navbar_inner li.active").removeClass("active");
                // adding classname 'active' to current click li 
                $(this).addClass("active");
                });

          });
      </script>
      <!-- <script type="text/javascript">

        jQuery(document).ready(function(){

          jQuery("#gallery").unitegallery({
            tiles_type:"justified"
          });
          // $( ".ug-lightbox-numbers" ).appendTo( ".ug-item-wrapper" );
        });
        
      </script> -->
        <!-- Magnific Popup core JS file -->
        <script src="../static/js/jquery.magnific-popup.js"></script>
      <script>
      $(document).ready(function() {
          $('.popup-gallery').magnificPopup({
            delegate: 'a',
            type: 'image',
            tLoading: 'Loading image #%curr%...',
            mainClass: 'mfp-img-mobile',
            gallery: {
              enabled: true,
              navigateByImgClick: true,
              preload: [0,1] // Will preload 0 - before current, and 1 after the current image
            },
            image: {
              tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
              titleSrc: function(item) {
                return item.el.attr('title') + '<small></small>';
              }
            }
          });
          $(".zoom").appendTo(".mfp-bottom-bar");
        });
      </script>

        
    </body>
 </html>