{% extends 'base.html' %}
{% load static %}
  {% block title %} GALERIA {% endblock %}
    {% load i18n %}
      {% block dashboard_content %}
        <div class="content-holder">
            <div class="first_layer">
                
                <select class="select-style red">
                <option value="2018">{%trans "2018" %}</option>
                <option value="2017">{%trans "2018" %}</option>
                <option value="2016">{%trans "2016" %}</option>
                <option value="2015">{%trans "2015" %}</option>
                </select>
                <div class="right">
                      <label>Ano</label>
                      <select class="select-style">
                          <option value="2018">{%trans "2018" %}</option>
                          <option value="2017">{%trans "2018" %}</option>
                          <option value="2016">{%trans "2016" %}</option>
                          <option value="2015">{%trans "2015" %}</option>
                      </select>
                      <label>De</label>
                      <select class="select-style">
                          <option value="2018">{%trans "Enero" %}</option>
                      </select>
                      <label>a</label>
                      <select class="select-style">
                          <option value="2018">{%trans "Marzo" %}</option>
                      </select>
                      <button type="button" class="btn btn-default">
                            <span><img src="../static/img/magnifier.png"></span>
                      </button>
                  </div> <!-- right -->
                  
                  <div class="clear_both"></div>
                </div>
             <div class="clear_both"></div>
            <div class="galeria">
                <div class="gallery">
                    <a target="_blank" href="../static/img/img_1.png">
                    <img src="../static/img/img_1.png" alt="post_one">
                    </a>
                    <div class="desc">
                         <p>{%trans "Lorem ipsum dolor sit amet, dolore" %}<br>{%trans "12/4/2018" %}</p>
                    </div>
                </div>
                 <div class="gallery">
                    <a target="_blank" href="../static/img/img_2.png">
                    <img src="../static/img/img_2.png" alt="post_one">
                    </a>
                    <div class="desc">
                         <p>{%trans "Lorem ipsum dolor sit amet, dolore" %}<br>{%trans "12/4/2018" %}</p>
                      </div>
                </div>
                 <div class="gallery">
                    <a target="_blank" href="../static/img/img_3.png">
                    <img src="../static/img/img_3.png" alt="post_one">
                    </a>
                    <div class="desc">
                         <p>{%trans "Lorem ipsum dolor sit amet, dolore" %}<br>{%trans "12/4/2018" %}</p>
                      </div>
                </div>
                 <div class="gallery">
                    <a target="_blank" href="../static/img/img_4.png">
                    <img src="../static/img/img_4.png" alt="post_one">
                    </a>
                   <div class="desc">
                         <p>{%trans "Lorem ipsum dolor sit amet, dolore" %}<br>{%trans "12/4/2018" %}</p>
                   </div>
                </div>
                 <div class="gallery">
                    <a target="_blank" href="../static/img/img_5.png">
                    <img src="../static/img/img_5.png" alt="post_one">
                    </a>
                   <div class="desc">
                         <p>{%trans "Lorem ipsum dolor sit amet, dolore" %}<br>{%trans "12/4/2018" %}</p>
                   </div>
                </div>
                 <div class="gallery">
                    <a target="_blank" href="../static/img/img_6.png">
                    <img src="../static/img/img_6.png" alt="post_one">
                    </a>
                    <div class="desc">
                         <p>{%trans "Lorem ipsum dolor sit amet, dolore" %}<br>{%trans "12/4/2018" %}</p>
                   </div>
                </div>
            </div> <!-- galeria -->
            <div class="clear_both"></div>
        </div> <!-- content-holder -->

    {% endblock %} 