<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Cuatrecasas</title>

        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Our Custom CSS -->
        <link rel="stylesheet" href="../static/css/style.css">
        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        
    </head>
    <body>
        <div class="bgimage">
            <!-- <img src="../static/img/bg_image.png"> -->
            <div class="content-holder">
                <div class="log_header">
                    <img src="../static/img/main_logo.png">
                    <div class="nav_bar_right">
                        <ul >
                            <li><a href="#">ES</a></li>
                            <li><a href="#">EN</a></li>
                            <li class=""><a href="#">PT</a></li>
                        </ul>
                        <a class="nav_bar_right">Registrase</a>
                    </div>                    
                </div>           
                <div class="">
                     <form class="content_container" action="">
                       <h3 class="text-center">Registro</h3>
                       <div>
                       <p class="form_subhead">Datos personales y de contacto</p>
                       <div>
                       <div class="">
                            <div class="half_content">
                                <div class="form-group">
                                  <input type="text"  class="form-control" id="formGroupExampleInput" placeholder="Nombre">
                                </div>
                                <div class="form-group">
                                  <input type="text"  class="form-control" id="formGroupExampleInput" placeholder="DNI/NIF/NIE/Pasaporte">
                                </div>
                                <div class="form-group">
                                  <input type="text"  class="form-control" id="formGroupExampleInput" placeholder="Genero">
                                </div>
                                <div class="form-group">
                                  <input type="text"  class="form-control" id="formGroupExampleInput" placeholder="Tel.movil">
                                </div>
                                </div> <!-- half_content ends -->
                                <div class="half_content">
                                <div class="form-group">
                                  <input type="text"  class="form-control" id="formGroupExampleInput" placeholder="Apellidos">
                                </div>
                                <div class="form-group">
                                  <input type="email"  class="form-control" id="formGroupExampleInput" placeholder="Fecha Nacimiento">
                                </div>
                                <div class="form-group">
                                  <input type="text"  class="form-control" id="formGroupExampleInput" placeholder="Grupo sanguineo">
                                </div>
                                <div class="form-group">
                                  <input type="text"  class="form-control" id="formGroupExampleInput" placeholder="Tel.oficina">
                                </div>                    
                            </div> <!-- half_content ends -->
                                <div>
                                    <p class="form_subhead">Datos deportivos</p>
                                </div>
                                <div>
                                    <div class="half_content_nopad">
                                        <div class="form-group tiny_input half_content">
                                            <label for="">Tall Maillot:</label>
                                            <input type="text"  class="form-control" id="formGroupExampleInput" placeholder="Xs">
                                        </div>
                                        <div class="form-group tiny_input half_content">
                                            <label for="">Tall camiseta:</label>
                                            <input type="text"  class="form-control" id="formGroupExampleInput" placeholder="Xs">
                                        </div>
                                    </div>
                                </div>
                                <div class="half_content">
                                    <div class="form-group">
                                      <input type="text"  class="form-control" id="formGroupExampleInput" placeholder="Federacion">
                                    </div>
                                    <div class="form-group">
                                      <input type="text"  class="form-control" id="formGroupExampleInput" placeholder="Chip Amaillo">
                                    </div>
                                </div> <!-- half_content ends -->
                                <div class="half_content">
                                    <div class="form-group">
                                      <input type="text"  class="form-control" id="formGroupExampleInput" placeholder="Num. federado">
                                    </div>
                                    <div class="form-group">
                                      <input type="text"  class="form-control" id="formGroupExampleInput" placeholder="Grupo sanguineo">
                                    </div>                    
                            </div> <!-- half_content ends -->
                            <div>
                                <p class="">Me interesa:</p>
                            </div>
                            <div class="form-group full_input half_content">
                                <label for="">Correr:</label>
                                <label class="containers">Asfalto
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="containers">Montana
                                  <input type="checkbox">
                                  <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="form-group full_input half_content">
                                <label for="">Bicicleta:</label>
                                <label class="containers">Carretera
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="containers">BTT
                                  <input type="checkbox">
                                  <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="form-group full_input half_content">
                                <label for="">Nadar:</label>
                                <label class="containers">Piscina
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="containers">Marnaton
                                  <input type="checkbox">
                                  <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="form-group full_input half_content">
                                <label for="">Cabinar:</label>
                                <label class="containers">Urbano
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="containers">Montana
                                  <input type="checkbox">
                                  <span class="checkmark"></span>
                                </label>
                            </div>
                            
                            <div>
                                <div class="form-group full_input">
                                    <label for="">Otros:</label>
                                    <input type="text"  class="form-control" id="formGroupExampleInput" placeholder="">
                                </div>                                       
                                
                            </div>
                            <div>
                                    <p class="form_subhead">Datos deportivos</p>
                                </div>
                            <div class="half_content">
                                <div class="form-group">
                                  <input type="email"  class="form-control" id="formGroupExampleInput" placeholder="e-mail">
                                </div>
                                <div class="form-group">
                                  <input type="password"  class="form-control" id="formGroupExampleInput" placeholder="Password">
                                </div>
                                </div> <!-- half_content ends -->
                                <div class="half_content">
                                <div class="form-group">
                                  <input type="email"  class="form-control" id="formGroupExampleInput" placeholder="repite e-mail">
                                </div>
                                <div class="small_check">
                                <label class="contain">Accepto las condiciones de uso politica de privacidad
                                  <input type="checkbox" checked="checked">
                                  <span class="checkmarked"></span>
                                </label> 
                                </div>                   
                            </div> <!-- half_content ends -->
                            <div class="reg_pad text-center">
                                <button type="submit" class="reg_button"><strong>REGISTRARME</strong></button>
                            </div>
                            


                                <!-- <button type="submit" class="btn login_button center_block"><strong>ACCEDER</strong></button>
                                <a  href="#" class="log_link"><strong>Recorder clave de acceso</strong></a> -->
                            
                            
                        </div> <!--  -->
                      </form> 
                </div>
            </div> <!-- content holder ends -->
           
        </div>
        
        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <!-- Bootstrap Js CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script> 
    </body>
</html>
